body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  height: 10vh;
  background-color: purple;
}

.login-items {
  display: flex;
  flex-direction: column;
  width: 500px;
}

span {
  height: 20px;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 50vh;
  gap: 20px;
}

.register-container {
  background-color: white;
}

.register-items {
  display: flex;
  flex-direction: column;
  width: 500px;
}
